<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="reg" method="post">
<label>UserName :</label>
<input type="text" name="username" required="required"></input>
<br/>
<br/>
<label>Email Id :</label>
<input type="email" name="email" required="required"></input>
<br/>
<br/>
<label>Password :</label>
<input type="password" name="password" required="required"></input>
<br/>
<br/>
<label>gender :</label><br/>
<input type="radio" name="gender" value="Male">Male<br/>
<input type="radio" name="gender" value="Female">Female<br/>
<input type="radio" name="gender" value="Other">Other<br/><br/>
<label>Role :</label>
</br>
<input type="radio" name="role" value="Admin">Admin<br/>
<input type="radio" name="role" value="User">User<br/><br/>
<label>Address :</label>
<textarea name="address"></textarea>
<br/>
<br/>
<input type="submit"  placeholder="Register"></input>
</form>


</body>
</html>